@{
    ViewData["Title"] = "Strona główna";
}

    <div class="text-center">
        <h1 class="display-4">Witaj!</h1>
        <p>Projekt zaliczeniowy na przedmiot - programownaie w .NET</p>
        <p>Autor - Tomasz Michał Gromadzki-Skutnik</p>
    </div>
